body {
    font-family: 'Fira Sans', sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 50px;
}

.orcol {
    color: orange;
}

.intro-sec {
    display: flex;
    margin-bottom: 100px;

}

.half-width {
    width: 50%;
    padding-left: 2%;

}

.half-width img {
    width: 60%;
}

.half-width p {
    text-align: justify;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(to right, #FF6700, tomato);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}

.bac-img {
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}

.drm-img {
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}

.pera {
    margin-right: 110px;
}

.web {
    width: 50%;
    box-shadow: 10px 10px 40px gray;
    margin-left: 5%;
    padding: 20px 40px;
    text-align: justify;
    margin-right: 5%;
}

.ex-sec {
    background-image: url("images/exp-bg.png");
    background-repeat: no-repeat;
}

.full {
    border-left: 5px solid tomato;
}

.baby {
    border-left: 5px solid blue;
}

footer {
    text-align: center;
}